@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Soehne";
    src: url("/static/soehne-buch.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Soehne";
    src: url("/static/soehne-kraftig.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
