@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/soehne-kraftig.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Soehne";
    src: url("/static/soehne-buch.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Soehne";
    src: url("/static/soehne-kraftig.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Salter";
    src: url("/static/Salter-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Salter";
    src: url("/static/Salter-Roman.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

:root {
--size-step-0: clamp(1.1875rem,1.01rem + 0.87vw,1.75rem);
--size-step-1: clamp(1.4375rem,1.21rem + 1.15vw,2.1875rem);
--size-step-2: clamp(1.6875rem,1.36rem + 1.63vw,2.75rem);
--size-step-3: clamp(2.0625rem,1.64rem + 2.12vw,3.4375rem);
--size-step-4: clamp(2.5rem,1.96rem + 2.69vw,4.25rem);
--size-step-5: clamp(2.9375rem,2.19rem + 3.75vw,5.375rem);
--size-step-6: clamp(3.5rem,2.52rem + 4.90vw,6.6875rem);
--space-xs: clamp(0.3125rem,0.27rem + 0.19vw,0.4375rem);
--space-s: clamp(0.625rem,0.55rem + 0.38vw,0.875rem);
--space-m: clamp(0.875rem,0.74rem + 0.67vw,1.3125rem);
--space-l: clamp(1.1875rem,0.96rem + 1.15vw,1.9375rem);
--space-xl: clamp(2.375rem,2.03rem + 1.73vw,3.5rem);
--space-2xl: clamp(3.5625rem,3.04rem + 2.60vw,5.25rem);
--space-3xl: clamp(5.9375rem,5.07rem + 4.33vw,8.75rem);
--space-xs-s: clamp(0.3125rem,0.14rem + 0.87vw,0.875rem);
--space-s-m: clamp(0.625rem,0.41rem + 1.06vw,1.3125rem);
--space-m-l: clamp(0.875rem,0.55rem + 1.63vw,1.9375rem);
--space-l-xl: clamp(1.1875rem,0.48rem + 3.56vw,3.5rem);
--space-l-2xl: clamp(2.375rem,1.49rem + 4.42vw,5.25rem);
--space-xl-2xl: clamp(3.5625rem,1.97rem + 7.98vw,8.75rem);
--space-2xl-3xl: clamp(5.9375rem,3.46rem + 12.40vw,14rem);
}


.article-title {
    margin: 2rem 0 0;
    font-size: var(--size-step-4);
    line-height: 1.2;
    letter-spacing: -0.035ch;
    font-weight: 700;
}

.page article>h1 {
    font-size: var(--size-step-3);
}
