@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: "Salter";
    src: url("/static/Salter-Roman.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Salter";
    src: url("/static/Salter-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Earth";
    src: url("/static/SharpEarthOLPE-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Earth";
    src: url("/static/SharpEarthOLPE-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Earth";
    src: url("/static/SharpEarthOLPE-BoldItl.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Serif";
    src: url("/static/Sharp Serif Text-Regular.531c514d.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Serif";
    src: url("/static/Sharp Serif Text-Italic.4443ac6d.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Serif";
    src: url("/static/Sharp Serif Text-Bold.afcd33cb.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Martina";
    src: url("/static/martina-plantijn-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Martina";
    src: url("/static/SharpEarthOLPE-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Respira";
    src: url("/static/Respira-Black.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

:root {
--size-step-0: clamp(1rem,0.92rem + 0.39vw,1.25rem);
--size-step-1: clamp(1.1875rem,1.01rem + 0.87vw,1.75rem);
--size-step-2: clamp(1.4375rem,1.11rem + 1.65vw,2.5rem);
--size-step-3: clamp(1.75rem,1.19rem + 2.82vw,3.5625rem);
--size-step-4: clamp(2.0625rem,1.15rem + 4.56vw,5rem);
--size-step-5: clamp(2.5rem,1.08rem + 7.09vw,7.0625rem);
--size-step-6: clamp(3rem,0.84rem + 10.78vw,9.9375rem);
--space-xs: clamp(0.3125rem,0.27rem + 0.19vw,0.4375rem);
--space-s: clamp(0.625rem,0.55rem + 0.38vw,0.875rem);
--space-m: clamp(0.875rem,0.74rem + 0.67vw,1.3125rem);
--space-l: clamp(1.1875rem,0.96rem + 1.15vw,1.9375rem);
--space-xl: clamp(2.375rem,2.03rem + 1.73vw,3.5rem);
--space-2xl: clamp(3.5625rem,3.04rem + 2.60vw,5.25rem);
--space-3xl: clamp(5.9375rem,5.07rem + 4.33vw,8.75rem);
--space-xs-s: clamp(0.3125rem,0.14rem + 0.87vw,0.875rem);
--space-s-m: clamp(0.625rem,0.41rem + 1.06vw,1.3125rem);
--space-m-l: clamp(0.875rem,0.55rem + 1.63vw,1.9375rem);
--space-l-xl: clamp(1.1875rem,0.48rem + 3.56vw,3.5rem);
--space-l-2xl: clamp(2.375rem,1.49rem + 4.42vw,5.25rem);
--space-xl-2xl: clamp(3.5625rem,1.97rem + 7.98vw,8.75rem);
--space-2xl-3xl: clamp(5.9375rem,3.46rem + 12.40vw,14rem);
}


.article-title {
    font-size: var(--size-step-5);
    margin: 2rem 0 0;
    margin-top: var(--space-2xl);
    font-family: salter;
    line-height: 1.1;
    font-weight: 100;
    text-align: center;
}

.content-meta {
    color: var(--gray);
    font-family: var(--headerFont);
    margin-top: 0;
    text-align: center;
}

.tags {
    flex-wrap: wrap;
    justify-self: end;
    gap: .4rem;
    margin: 1rem 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    place-content: center;
}

.toc {
      text-align: -webkit-center;
}

.page article>h1 {
    font-size: var(--size-step-3);
}

.page .page-header {
    margin-bottom: var(--space-2xl);
}

.search>#search-icon {
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 11px;
    align-items: center;
    height: 2rem;
    display: flex;
    border: 1px solid var(--gray);
}

/*
h1, h2, h3, h4, h5, h6, thead {
    font-weight: 400;
}
*/

h2 {
    margin-top: 1.9rem;
    margin-bottom: 1rem;
    font-size: var(--size-step-2);
    font-family: Salter;
    font-weight: 400;
    font-style: italic;
}

h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: var(--size-step-1);
}

#toc-content ul>li>a {
    color: var(--dark);
    opacity: .35;
    transition: opacity .5s, color .3s;
    font-weight: 400;
    font-family: var(--headerFont);
}

.content-meta {
    color: var(--gray);
    margin-top: 0;
    font-family: var(--headerFont);
}

blockquote {
  font-family: "Serif";
  font-size: var(--size-step-0);
}

.page-title {
    margin: 0;
    font-size: var(--size-step-0);
}


.callout {
  &[data-callout="scroll"] {
    --color: var(--secondary);
    --border: transparent;
    --bg: var(--light);
    --callout-icon-scroll: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll"><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>');
  }
}

.callout {
  &[data-callout="awe"] {
    --color: var(--secondary);
    --border: transparent;
    --bg: var(--light);
    --callout-icon-awe: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles"><path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"/><path d="M20 3v4"/><path d="M22 5h-4"/><path d="M4 17v2"/><path d="M5 18H3"/></svg>');
  }
}

.callout {
  &[data-callout="forgiveness"] {
    --color: var(--secondary);
    --border: transparent;
    --bg: var(--light);
    --callout-icon-forgiveness: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cross"><path d="M11 2a2 2 0 0 0-2 2v5H4a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h5v5c0 1.1.9 2 2 2h2a2 2 0 0 0 2-2v-5h5a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-5V4a2 2 0 0 0-2-2h-2z"/></svg>');
  }
}

.callout {
  &[data-callout="trust"] {
    --color: var(--secondary);
    --border: transparent;
    --bg: var(--light);
    --callout-icon-trust: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-castle"><path d="M22 20v-9H2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"/><path d="M18 11V4H6v7"/><path d="M15 22v-4a3 3 0 0 0-3-3a3 3 0 0 0-3 3v4"/><path d="M22 11V9"/><path d="M2 11V9"/><path d="M6 4V2"/><path d="M18 4V2"/><path d="M10 4V2"/><path d="M14 4V2"/></svg>);
  }
}

.desktop-only {
    display: initial;
    text-align: left !important;
}
